<!DOCTYPE html>
<html>
  <head>
    <title>MBD :: Mondo Backbone Tutorial</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Backbone Using Views and Models Together Example</h1>
      <div class="app">
        Loading...
      </div>
    </div>

    <script type="text/template" class="post_show_template">
      <h2 class="text-info"><%= title %></h2>
      <p>
        <em><%= author %></em>
        <strong><%= publish_date %></strong>
      </p>
      <p>
        <%= contents %>
      </p>
      <p>
        <a href="#edit">Edit</a>
      </p>
    </script>

    <script type="text/javascript">
      // notes:
      //   - note that model is a default option and gets automatically attached to the view
      var PostView = Backbone.View.extend({
        'template': _.template($('.post_show_template').html()),

        'render': function() {
          var variables = this.model.toJSON();
          var content = this.template(variables);

          this.$el.html(content);

          return this;
        }
      });

      var post = new Backbone.Model({
        'id': 5
      });

      post.urlRoot = 'database/collections/posts';

      post.fetch({
        'success': function(postModel) {
          console.log("success!");

          var postView = new PostView({
            'model': postModel
          });

          $('.app').html(postView.render().$el);
        },

        'error': function() {
          console.log("error!");
        },
      });
    </script>
  </body>
</html>
