<!DOCTYPE html>
<html>
  <head>
    <title>MBD :: Mondo Backbone Tutorial</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Backbone DRY Common View Example</h1>
      <div class="app">
        Loading...
      </div>
    </div>

    <script type="text/template" class="home_template">
      <h2>Home</h2>
      <p>
        <%= greeting %>
      </p>
      <p>
        This is the "homepage" route
      </p>
      <form action="http://www.apple.com/" method="post">
        <div>
          <button class="click_me">Do something</button>
        </div>
      </form>
      <p>
        <a href="#news">Click here for my blog</a>
      </p>
    </script>

    <script type="text/template" class="blog_template">
      <h2><%= title %></h2>
      <p>
        <%= greeting %>
      </p>
      <form action="http://www.apple.com/" method="post">
        <div>
          <button class="click_me">Do something else</button>
        </div>
      </form>
      <p>
        <a href="#">Click here for the homepage</a>
      </p>
    </script>

    <script type="text/javascript">
      // notes:
      //   - much more dry
      var CommonView = Backbone.View.extend({
        'initialize': function(options) {
          this.variables = options.variables;
        },

        'drawMe': function() {
          var templateFunction = _.template(this.htmlStuff);
          var content = templateFunction(this.variables);

          this.$el.html(content);
        }
      });

      var HomeView = CommonView.extend({
        'htmlStuff': $('.home_template').html(),

        'events': {
          'click .click_me': 'doSomething'
        },

        'doSomething': function(e) {
          e.preventDefault();
          alert('I did something!');
        }
      });

      var BlogView = CommonView.extend({
        'htmlStuff': $('.blog_template').html(),

        'events': {
          'click .click_me': 'doSomethingElse'
        },

        'doSomethingElse': function(e) {
          e.preventDefault();
          alert('And now for something completely different!');
        }
      });

      var MainRouter = Backbone.Router.extend({
        'routes': {
          'news': 'posts',
          '': 'home'
        },

        'home': function() {
          var homeView = new HomeView({
            'variables': {
              'greeting': 'Bonjour'
            }
          });

          homeView.drawMe();

          $('.app').html(homeView.$el);
        },

        'posts': function() {
          var blogView = new BlogView({
            'variables': {
              'title': 'Blog',
              'greeting': 'Welcome to my blog!'
            }
          });

          blogView.drawMe();

          $('.app').html(blogView.$el);
        },
      });

      var router = new MainRouter();

      Backbone.history.start();
    </script>
  </body>
</html>
